<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/mediaqueries.css">
    <link rel="stylesheet" href="/css/<%= cssFile %>">
    <link rel="html" href="/app/views/<%= mainHtml %>">
    <title>
      <%= pageTitle %>
    </title>
  </head>
  <body>
    <div class="container">    
      <%- include('./partials/header-nav') %>      
      <main>
        <%- include (mainHtml) %>
      </main>
      <%- include('./partials/footer') %>
    </div>
    <% if (cssFile === 'vehicules.css') {%>
    <%- include('slide.ejs') %>
    <%}%>
  </body>
</html>
